---
import { getEntry, render } from "astro:content";
import Markdown from '@components/misc/Markdown.astro'
import ContentCard from '../components/ContentCard.astro'
import MainGridLayout from '../layouts/MainGridLayout.astro'
const indexPost = await getEntry('spec', 'index')
if (!indexPost) {
	throw new Error("Index page content not found");
}
const { Content } = await indexPost.render()
---

<MainGridLayout>
    <ContentCard
        class="onload-animation"
        style="animation-delay: var(--content-delay)"
    />
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32 mb-4">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>