---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "others");

if (!aboutPost) {
	throw new Error("Others page content not found");
}

const { Content } = await render(aboutPost);
---
<MainGridLayout title="杂项" description="个人兴趣与喜好">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-[calc(100vh-12rem)]">
        <div class="card-base z-10 px-9 py-6 relative w-full h-full">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>


